body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f0f0f5;
    margin: 0;
    padding: 20px;
}

.container {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 25px;
    max-width: 700px;
    margin: auto;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

h1 {
    color: #d35400;
    text-align: center;
}

p {
    font-size: 16px;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
}

th {
    background-color: #f39c12;
    color: white;
}


footer {
    background-color: #d35400;
    padding: 10px;
    width: 100vw;
    position: fixed;
    bottom: 0;  
    left: 0;
    border-radius: 0 0 10px 10px;
    text-align: center;
    box-sizing: border-box;
}